.container
  %h2 Meet our Team
  %p.lead Programmers and pets enthusiasts
  .divider
  .row
    .col-md-4.col-team
      %img.rounded-corners.img-fluid{:height => "240", :src => "images/team-1.jpg", :width => "240"}/
      %h4 Katarzyna Świątek
      %p
        %span.emphasis Designer
      %ul.social
        %li
          %a.fa.fa-linkedin{:href => "#", :title => "LinkedIn"}
        .clear
    .col-md-4.col-team
      %img.rounded-corners.img-fluid{:height => "240", :src => "images/team-2.jpg", :width => "240"}/
      %h4 Jędrzej Bryll
      %p
        %span.emphasis Designer
      %ul.social
        %li
          %a.fa.fa-linkedin{:href => "#", :title => "LinkedIn"}
        .clear
    .col-md-4.col-team
      %img.rounded-corners.img-fluid{:height => "240", :src => "images/team-3.jpg", :width => "240"}/
      %h4 Oliwia Michalak
      %p
        %span.emphasis Designer
      %ul.social
      %li
        %a.fa.fa-linkedin{:href => "#", :title => "LinkedIn"}
        .clear
