.cover-container.pb-5
  .cover-inner.container
    %p.lead Lorem ipsum
    .divider
    %h1.jumbotron-heading
      Say
      %em hello
      to our
      %strong Startup UI Kit
    .row
      .offset-md-4.col-md-4.mt-5.mx-auto
        %button.btn.btn-lg.btn-success.pill-btn{:type => "submit"} Get Started
