%footer.footer-3
  .container
    .row
      .col-md-6.text-center.text-md-left.mt-2.mb-3.pt-1
        %p
          Copyright © Dogtor
          %i.fa.fa-paw{"aria-hidden" => "true"}
          = ". All rights reserved."
      .col-md-6.text-center.text-md-right.mt-2.mb-3.pt-1
        %p
          Layout by
          = link_to 'medialoot.com', 'https://medialoot.com/'
